.vscode/**
.vscode-test/**
out/**
node_modules/**
webview-ui/**
!webview-ui/build/**
!webview-ui/package.json
media/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
